body {
    /* Hintergrundfarbe, Schriftart und Abstände für den gesamten Inhalt des Body-Tags */
    font-family: 'Quicksand', sans-serif;
    background-image: url(../images/wolken.webp)
}

.header-image {
    /* Stile für das Header-Bild */
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: 100%;
    display: block;
}

.headline {
    /* Stile für die Überschrift */
    flex: 1;
    text-align: center;
}

.image-container {
    /* Stile für den Bildcontainer */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    /* Stile für die Navigationsleiste */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    /* Stile für die Navigationslinks */
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-left: 16px;
    font-weight: 700;
}

a:hover {
    /* Stile für den Hover-Zustand der Navigationslinks */
    text-decoration: underline;
}

.text-container {
    /* Stile für den Textcontainer */
    background-color:white
    padding 7px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25%;
    margin-right: 25%;
}
.text-cont{
    padding: 7px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 200px;
}

.maps-container {
    /* Stile für den Kartencontainer */
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.maps-right {
    /* Stile für den rechten Kartenbereich */
    width: 30%;
    margin-left: 20px;
}

.maps-frame {
    /* Stile für den Kartenrahmen */
    width: 100%;
    flex: 1 0;
    height: 420px;
}

.maps-frame iframe {
    width: 100%;
    height: 100%;
}

.legal-content {
    /* Stile für den rechtlichen Hinweis */
    padding: 8px;
}

.image_miralembanovi {
    /* Stile für das Bild "Miralem Banovi" */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
}

.MiralemBanovi {
    /* Stile für das Bild "Miralem Banovi" */
    width: 600px;
    height: auto;
    align-items: center;
}

.MiiralemBanovi{
    width: 600px;
    height: auto;
    margin-right: 20px;
    margin-left: 20%;
}
.Image_reise {
    /* Stile für den Reisebildcontainer */
    display: flex;
    justify-content: center;
}

.image {
    /* Stile für das Zypern-Bild */
    width: 300px;
    height: 300px;
    margin: 10px;
    flex: 1;
    object-fit: cover;
    margin: 10px;
}

.coll-container {
    /* Stile für den Kollaps-Container */
    padding: 7px;
    display: block;
    margin-top: 20px;
}

.text-container.maps-right {
    align-items: end;
    width: 80%;
    flex: 0;
    display: block;
    margin-left: 6%;
}

.video-container {
    width: 80%;
    flex: 0 0;
    margin-left: 50px;
    display: block;
    height: 350px;
}

.video-container iframe {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
/* Medienabfrage für Bildschirmbreiten bis 800px */
@media (max-width: 800px) {
    .header-image{
        width: 100%;
        height: auto;
        box-sizing: border-box;
    }

    .MiralemBanovi{
        width: 100%;
        height: auto;
        box-sizing: border-box;
    }

    .MiiralemBanovi {
        max-width: 53%;
        max-height: 100%;
        margin-left: 13%;
        margin-right: 10%;
        width: auto;
        height: auto;
    }

    .image {
        width: 80%;
        height: auto;
        box-sizing: border-box;
    }

    .image-container{
        width: 100%;
        height: auto;
        box-sizing: border-box;
        align-items: center;
    }

    .image_miralembanovi {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding-left: 10px;
        padding-right: 25px;
    }

    .body {
        width: 100%;
        height: auto;
        box-sizing: border-box;
        align-items: center;
    }

    .Image_reise{
        width: 80%;
        height: auto;
        box-sizing: border-box;
    }

    .Ganze_Webseite{
        width: 80%;
        height: auto;
        box-sizing: border-box;
        align-items: center;
        padding-left: 60px;
    }
    .text-container{
        box-sizing: border-box;
        margin-left: 10%;
        margin-right: 10%;
        box-sizing: border-box;
    }

    .text-cont {
        margin-top: 20px;
        margin-left: 25%;
        margin-right: 25%;
        text-align: center;
    }
    .text-container.maps-right {
        margin-left: 15%;
        margin-right: 15%;
        align-items: center;
    }
  }